 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Gamepus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    
    <check if="{{ @SESSION.userId > 0 }}">
        <true>
            <include href="../templates/gp_fancy/header.html" />
        </true>
    </check>

    <div class="container-fluid" style="margin-top:100px;">
        <include href="{{ @page_display }}" />
    </div>
</body>
</html>