 <div class="container" style="max-width: 500px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Gamepus Login</h1>
            <p>Enter your login data to proceed. If you dont have any login credentials you can <a href="/Register">register yourself here</a>.</p> 

            <check if="{{ @SESSION.registerok=='true' }}">
                <true>
                    <div class="alert alert-success">
                        <strong>Success!</strong> Your account was created. You can now login yourself.
                    </div>
                </true>
            </check>

            <check if="{{ @SESSION.loginerror=='true' }}">
                <true>
                    <div class="alert alert-danger">
                        <strong>Error!</strong> Username or password are wrong. <a href="/Register/">Are you allready registered</a>? Or do you have <a href="/ResetPassword">forgot your password</a>?
                    </div>
                </true>
            </check>

            <check if="{{ @SESSION.resetPassword=='true' }}">
                <true>
                    <div class="alert alert-success">
                        <strong>Success!</strong> Your Password was reseted successfully and an email has been sent to your email address.
                    </div>
                </true>
            </check>

            <form action="/Login" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="username" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
    </div>
</div>