 <div class="container" style="max-width: 500px;">
    <div class="panel panel-default">
        <div class="panel-body">
    <h1>Gamepus Reset Password</h1>
    <div class="alert alert-info">Enter your email address here and you will receive a new password.</div>
    
    <form action="/ResetPassword" method="POST" data-toggle="validator">      
        <div class="form-group">
            <label for="email">E-Mail:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        
        <button type="submit" class="btn btn-primary">Reset Password</button> <a href="/">Return to login page</a>.
    </form>
     </div>
   </div>
</div>
<script src="js/bootstrap.validator.min.js"></script>